@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$max-width: 1024px !global;
$visual-grid: true;
$gutter: em(10) !global;
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
  margin-top: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.blue-hover:hover {
  color:rgba(61, 118, 195, 1);
}

.top-nav {
  width: 100%;
  background-color: rgba(245, 245, 245, 1);
  margin-top: 0;
  padding-top: 1%;
  padding-bottom: 2.5%;
}

.top-nav-left-side-container {
  margin-left: 5%;
}

.top-nav-left-side {
  margin-bottom: 0%
}

.top-nav-left-side li {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 1%;
}

.top-nav-right-side-container {
  margin-right: 5%;
}

.top-nav-right-side {
  margin-bottom: 0%;
}

.top-nav-right-side li {
  display: inline-block;
  float: right;
  padding-right: 4%;
  margin-top: 0;
}

.nav-photo img {
  height: 20px;
  width: 20px;
  border-radius: 2%;
}

.caret {
  position: relative;
  top: -4px;
}

.search-bar {
  width: 375px;
}


.side-bar {
  height: 900px;
  // width: 300px;
  margin-top: 3%;
}

// .side-bar,
// .user-followers,
// .user-followers-text-container,
// .organizations-container {
//   @include span-columns(12);
//  }
//
// .main-content-container {
//   @include span-columns(12);
// }
//
// .contributions-container,
// .repo-nav-container,
// .repositories-container, {
//   @include span-columns(9 of 12);
// }
//
// .side-bar-ul,
// .followers-ul,
// .user-followers-text,
// .organizations-ul {
//   @include span-columns(3 of 12);
// }
//
// // .contributions-list,
// // .repositories li {
// //   @include span-columns(9 of 12);
// // }
//
// .organizations-container {
// }

.main-container {
  @include outer-container();
}

.side-bar {
  @include span-columns(3);
}

.main-content-container {
  @include span-columns(9);
  margin-top: 3%;
}

.contributions-container {
  @include span-columns(9 of 9);
  @include omega;
}

.repo-nav-container {
  @include span-columns(9 of 9);
  @include omega;
}

.user-photo img {
  height: 240px;
  border-radius: 2%;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.user-name {
  font-size: 18px;
  color: rgba(102, 102, 102, 1);
  margin-bottom: 18px;
}

.user-name-hr {
  color: rgba(245, 245, 245, 1);
  margin-top: 18px;
}

.email {
  color:rgba(61, 118, 195, 1);
  margin-top: 14px;
  font-size: 14px;
}

.email:hover {
  text-decoration: underline;
}

.envelope {
  color: rgba(102, 102, 102, 1);
}

.date-joined {
  margin-bottom: 15px;
  font-size: 14px;
}

.clock {
  color: rgba(102, 102, 102, 1);
}

.followers-ul {
  // padding-left: 0;
}

.followers-ul li {
  @include span-columns(3 of 12);
  display: inline-block;
  // padding-left: 27px;
  font-size: 31px;
  font-weight: bold;
  color:rgba(61, 118, 195, 1);
}

.user-followers-text li {
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  display: inline-block;
  // padding-left: 0;
}

.followers-text {
  color: rgba(102, 102, 102, 1);
  // margin-left: -32px;
}

.starred {
  // margin-left: 35px;
}

.starred-text {
  color: rgba(102, 102, 102, 1);
  // margin-left: 35px;
}

.following {
  // margin-left: 42px;
}

.following-text {
  color: rgba(102, 102, 102, 1);
  // margin-left: 40px;
}

.organizations-text {
  margin-top: 18px;
}

.organizations-pic {
  height: 42px;
  width: 42px;
}

.octicon {
  // width: 16px;
}

.contributions-list li {
  display: inline-block;
}

.repo-name {
  color:rgba(61, 118, 195, 1);
  font-size: 20px;
  font-weight: bold;
}

.fork-count {
  color: rgba(102, 102, 102, 1);
  font-size: 13px;
}

.stargazers {
  color: rgba(102, 102, 102, 1);
  font-size: 13px;
}

.repo-lang {
  color: rgba(102, 102, 102, 1);
  font-size: 13px;
}

.last-updated {
  color: rgba(102, 102, 102, 1);
  font-size: 13px;
}


.repo-nav-list form, li {
  display: inline-block;
}

.new-repo-button {
  background-color: rgba(142, 219, 113, 1);
}

.brand-color {
  color:rgba(61, 118, 195, 1);
}
